@import url('css_zero.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Red Hat Display';
    background: linear-gradient(135deg, #f0f8ff, #bababa);
    width: 100vw;
    overflow-x: hidden;

}

.black{
    background: #000;
    color: white;
    border-bottom: 1px solid white;
}






.header{
    height: 60px;
    width: 100vw;
    background-color: #0e1e49;
    display: flex;
    padding: 20px 40px;
    margin-bottom: 50px;
    /* gap: 50px; */
    align-items: center;
    justify-content: space-between;
}
.header__menu-elements{
    text-transform: uppercase;
    gap: 5vw;
    letter-spacing: 2px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    transition: all 0.1s ease;
}
.header__menu-elements a{
    color: #FFFFFF;
}

.profile__photo img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.current{
    margin-top: 50px;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.switch{
    height: 100%;
    color: white;
    background-color: #ffffff00;
    line-height: 40px;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 16px;
}

main{
    padding: 50px;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    /* height: 100vh; */
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width:888px){
    .main{
        justify-content: center;
    }
}

.main__photo img{
    width: 100%;
    border-radius: 100%;
    margin-bottom: 40px;
}
.main__photo p{
    font-size: 30px;

}
.main__info-title {
    margin-bottom: 30px;
    font-weight: bold;
}
.main__info {
    padding: 50px;
    border-radius: 20px;
    background-color: #16497b;
    box-shadow: 1px 1px 10px grey;
    display: flex;
    max-width: 500px;
    
}
.form{
    flex-direction: column;
    
}
.textarea{
    /* border: 1px solid black; */
    width: 300px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(125, 125, 125) inset;
    margin-bottom: 20px;
    padding: 1% 5%;

}


.error:focus{
    box-shadow: 0px 0px 5px 1px rgba(253, 6, 6, 0.701);
}

.input-field{
    
    width: 400px;
    height: 50px;
    border: 1px solid blue;
    padding: 10px;  
    border-radius: 10px;
    margin-bottom: 20px;

}
.input-field:hover{
    box-shadow: 0px 0px 5px 1px rgba(9, 79, 255, 0.701);
}
.input-field:focus{
    box-shadow: 0px 0px 10px 1px rgba(9, 79, 255, 0.701);
}
.error{
    border: 1px solid red;
}
.send-btn{
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #0e1e49;
    color: #FFFFFF;
    border-radius: 10px;
}
.main__info-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main__info-card {
    border: 1px solid black;
}

.card__name {
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}






footer{
    width: 100%;
    background-color: #0e1e49;
    padding-left: 80px;
    padding-bottom: 40px;
    padding-top: 40px;
    color: white;
    font-size: 20px;
}

.footer-1 {
    font-size: 10px;
    text-transform: none;
    opacity: 1;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 10px;
    transition: all 0.1s ease;
}
.footer-2 {
    margin-bottom: 20px;
    width: 290px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.411);
    transition: all 0.1s ease;

}
.footer3 {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 15px;
    transition: all 0.1s ease;
}


.photo-login{
    display: flex;
    flex-direction: row;
    /* width: 200px; */
    gap: 30px;
}
.login a{
    text-align: center;
    line-height: 40px;
    color:white;
}




.burger{
    display: none;
    /* position: relative; */
    /* top: 50px; */
    /* width: 30px; */
    color: white;
    font-size: 28px;
    transform: scaleX(120%);
}
.burger-menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 80px;
    z-index: 10;
    display: none;

}
.burger-disable{
    display: none;
}
.burger-menu a{
    color: black;
}

@media(max-width: 850px){
    .header__menu-elements{
        gap: 1vw;
        font-size: 10px;
    }
    .photo-login .switch, a{
        font-size: 13px
    }
}


@media(max-width: 750px){
    
    .burger-menu{
        display: flex;
    }
    .burger-disable{
        display: none;
    }
    .main__info{
        margin: 0 0px;
        padding: 30px;
        width: 80vw;
    }
    .form{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .header__menu-elements{
        display: flex;
        flex-direction: column;
        display: none;
    }
    .input-field{
        width: 100%;
    }
}
@media(max-width: 700px){
    .footer-1 {
        font-size: 8px;
        text-transform: none;
        opacity: 1;
        letter-spacing: 1px;
        font-weight: 100;
        margin-bottom: 8px;
    }
    .footer-2 {
        margin-bottom: 10px;
        width: 290px;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 10px;
        border-bottom: 1px solid  rgba(255, 255, 255, 0.411);
    }
    .footer3 {
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 10px;
    }
}